/*------------------------------------*\
    GLOBAL/BASE STYLES
\*------------------------------------*/

body, 
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 62.5%; // set root font size to ~10px for easy calculation
}

body {
    @include rem(1.5);
    line-height: 1.4; // unitless line-height to be based off the element's size
    padding-top: 70px; // room for fixed navbar
}

h1 {
	margin: 0 0 .25em;
}

h2 {
	@include rem(2.4);
	margin-top: 0;
	color: #888;
	p + & {
		margin-top: 30px;
	}
}

h3 {
	@include rem(1.75);
	margin: 0;
	padding: 10px 0 10px;
	clear: both;
}

h4 {
	@include rem(1.25);
	margin: 20px 0 0;
	text-transform: uppercase;
}

p, li {
	max-width: 45em;
}

dt {
	margin-top: 1.5em;
}

code {
	color: #2B62A0;
	background-color: #D7E8FC;
	font-size: .9em;
}

.section {
	border-bottom: 1px solid #ddd;
	margin: 15px 0;
	padding: 50px 0 10px; // temporary: large top padding to assist with jump links
	clear: both;
}

.lead {
	margin-bottom: 5px;
}